/* App Container */
/* src/index.css */
@import 'bootstrap/dist/css/bootstrap.min.css';

.App {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 8px;
  /*display: flex; */
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

/* CPU Scheduling Simulation Container */
.cpu-scheduling-simulation {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-size: 14px;
  text-align: center;
}

.cpu-scheduling-simulation input,
.cpu-scheduling-simulation button {
  margin: 0 5px;

}

/* Start Button */
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 5px;
}

/* Table Container */
.table-container {
  overflow-x: auto;
  max-width: 100%;
  display: inline-block;
  font-size: 8px;
}

/* Table Scroll Container */
.table-scroll {
  overflow-x: scroll;
  max-width: 100%;
  white-space: nowrap;
}

/* Process Table */
.process-table {
  border-collapse: collapse;
  display: inline-block;
  width: auto;
}

.process-table th,
.process-table td {
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
}

.process-table th {
  background-color: #f0f0f0;
  font-weight: bold;
}

.process-table .running {
  background-color: #00f;
  color: #fff;
}

.process-table .completed {
  background-color: #0f0;
  color: #fff;
}

.process-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  /* Khoảng cách bên trong khung */
  max-height: 300px;
  /* Kích thước tối đa của khu vực */
  overflow-y: auto;
  /* Hiển thị thanh cuộn khi nội dung vượt quá kích thước tối đa */
}

.process-list table {
  border: 1px solid #ccc;
  /* Thêm đường viền cho khu vực bảng */
  width: 25%;
  /* Đảm bảo rằng bảng chiếm toàn bộ khu vực */
  margin-top: 20px;
}

.controls {
  margin: 10px;
}

.controls button {
  margin: 0 5px;
}